#! /bin/bash
export PATH="${PWD}/bin:${PATH}"
# code should not use hardcoded paths, but leverage these
PROJECT_ROOT="${PWD}"
SRC_ROOT="${PROJECT_ROOT}/python/src"
TESTS_ROOT="${PROJECT_ROOT}/python/tests"
TEST_DOCS_ROOT="${PROJECT_ROOT}/test-docs"
export PROJECT_ROOT
export TESTS_ROOT
export SRC_ROOT
export TEST_DOCS_ROOT

# Activate the virtual environment
if [[ -d ".venv" ]]; then
    # shellcheck disable=SC1091
    source .venv/bin/activate

else
    echo "Virtual environment .venv not found. Will create it."
fi

# don't lttter the file tree with the pycache files
export PYTHONPYCACHEPREFIX=./.tmp/python-cache
